/*
Basic Information:
--------------------

Project Name   	:	NGH school Template
Author       	: 	NGH school
Our Site 		: 	https://youthenlight.com
Description 	: 	This is html5 School template
Developed By 	: 	Mahbubul Haq
Phone           :   01515672069


-----------------------------------------------------------------------------------*/
/*================== 1. Start Template Common CSS ===============*/

body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}



/*========================   Nav manu ==================*/







